  
<!-- Welcome Message -->

<main class="container">
    <div class="row">
       <div class="col">
          <div class="jumbotron">
             <h1 class="display-7"><%= title %></h1>
          </div>
       </div>
    </div>
       <div class="row">
         <div class="col">
           <p class="display-10">Welcome to <%= title %> </p>
           <hr class="my-4">
         </div>
      </div>
  
  
        <div class="wrapper">

        <p><form method="get" action="/Document">
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%" >Document</button>
        </form></p>

        <p><form method="get" action="/notification" >
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%" >Notification</button>
        </form></p>

        <p><form method="get" action="/profile" >
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%">User Profile</button>
        </form></p>

        <p><form method="get" action="/contact" >
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%">Customer Care</button>
        </form><p>

        </div>

